body {

    font-family: 'Poppins', sans-serif;

    margin : 0;
    padding: 0;

}

.top_banner {
    background-image : url(./images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-size  : 45px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
}

h1 span {
    color: orange;
}

.flex_container {
    display      : flex;
    margin-bottom: 150px;
}

.half_width {
    width       : 50%;
    padding-left: 2%;
}

.half_width img {
    width: 80%;
}

.half_width p {

    padding-bottom: 10px;
}

.Link_btn {
    background-image: linear-gradient(orange, tomato);
    border-radius   : 5px;
    border          : 0px;
    padding         : 10px 40px;
    font-weight     : bold;
    color           : #fff;
    cursor          : pointer;
    text-decoration : none;
    margin-top      : 10px !important;
}

#half-width {
    margin-right: 30px;
}

.dream_big {
    background-image   : url(./images/dream-bg.png);
    background-repeat  : no-repeat;
    background-position: right;
}

.experiences {
    background-image   : url(./images/exp-bg.png);
    background-repeat  : no-repeat;
    background-position: left;
}

.experience_container h3 {
    color: orange;
}

.experience_item {
    width      : 40%;
    margin     : 0px 3%;
    padding    : 20px;
    border-radius: 5px;


    box-shadow: 5px 7px 40px gray;

}
.experience_item:nth-child(odd){
    border-left: 7px solid tomato;
}
.experience_item:nth-child(even){
    border-left: 7px solid rgb(71, 74, 255);
}
.fotter h4{
    color: rgb(162 151 151 / 97%);
    font-weight: 300;
}